/* orelega-one-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Orelega One";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/orelega-one-v13-latin-regular.woff2") format("woff2");
}

/* noto-serif-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/noto-serif-v30-latin-regular.woff2") format("woff2");
}
/* noto-serif-italic - latin */
@font-face {
  font-display: swap;
  font-family: "Noto Serif";
  font-style: italic;
  font-weight: 400;
  src: url("/fonts/noto-serif-v30-latin-italic.woff2") format("woff2");
}
/* noto-serif-500 - latin */
@font-face {
  font-display: swap;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/noto-serif-v30-latin-500.woff2") format("woff2");
}
/* noto-serif-500italic - latin */
@font-face {
  font-display: swap;
  font-family: "Noto Serif";
  font-style: italic;
  font-weight: 500;
  src: url("/fonts/noto-serif-v30-latin-500italic.woff2") format("woff2");
}
/* noto-serif-600 - latin */
@font-face {
  font-display: swap;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/noto-serif-v30-latin-600.woff2") format("woff2");
}
/* noto-serif-700 - latin */
@font-face {
  font-display: swap;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/noto-serif-v30-latin-700.woff2") format("woff2");
}

/* Add global font-family rule */
body {
  font-family: "Noto Serif", serif;
}
.orelega-one {
  font-family: "Orelega One", serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sticky_header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 490; /* Changed from 99999 to be less than mobile menu overlay (500) */
  box-shadow: 3px 3px -8px 3px #ddd;
}

.main-bg {
  background-color: #ffede8;
}

/* To ensure that when navigating via anchor tags the header is accounted for */
section {
  scroll-margin-top: 80px;
}

/* Services Page */
.faq-body {
  white-space: pre-wrap;
  .faq-row {
    text-align: left;

    .row-content {
      .row-content-text {
        padding: 50px;
      }
    }
  }
}

/* Sign In Page */
.spinner {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: radial-gradient(farthest-side, #ffffff 94%, #0000) top/9px 9px
      no-repeat,
    conic-gradient(#0000 30%, #dddddd);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 9px), #000 0);
  animation: spinner-c7wet2 1s infinite linear;
}

@keyframes spinner-c7wet2 {
  100% {
    transform: rotate(1turn);
  }
}
.error-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 500px;
}
/* Spinner page */
.spinner-page {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: radial-gradient(farthest-side, #ffffff 94%, #0000) top/9px 9px
      no-repeat,
    conic-gradient(#0000 30%, #dddddd);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 9px), #000 0);
  animation: spinner-c7wet2 1s infinite linear;
}

@keyframes spinner-c7wet2 {
  100% {
    transform: rotate(1turn);
  }
}

input.lp-ignore + div[data-lastpass-icon-root] {
  display: none !important;
}

html {
  scroll-behavior: smooth;
}
